body {
    background-color: rgb(148, 182, 197);
    font-style:initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.wl {
    position:absolute;
    color:white;
    font-size: 30vw;
    transform: scaleX(2) rotate(90deg);

}
.wl:nth-child(1){
    left:50vw; top:0vh;
}
.wl:nth-child(2){
    left:30vw; top:50vh;
}
.wl:nth-child(3){
    left:50vw; top:100vh;
}
.wl:nth-child(4){
    left:30vw; top:150vh;
}

.bl{
    position:absolute;
    color:black;
    font-size: 30vw;
    transform:scaleY(2)
}

.bl:nth-child(5){
    left:5vw; top:40vh;
}
.bl:nth-child(6){
    left:30vw; top:80vh;
}
.bl:nth-child(7){
    left:50vw; top:30vh;
}
.bl:nth-child(8){
    left:65vw; top:125vh;
}

#theBackward{
    transform: rotate(90deg);
    color: rgb(255,255,255)
}
